<section class="card">
  <a href="/meal_history/{{recipe_id}}">
    <header>{{recipe.name}}</header>

    <div class="card-body">
      <img src="{{image}}" alt="{{recipe.description}}">
      <p>Main Protein: {{recipe.mainProtein}}</p>
      <p>Description: {{recipe.description}}</p>
      <p>Prep Time: {{recipe.prepTime}}</p>
      <p>Cook Time: {{recipe.cookTime}}</p>
      <p>Servings: {{recipe.servings}}</p>
      <p>Cooked: {{cooked}}</p>
    </div>
  </a>
</section>