<section class="card">
  <a href="/meal_results/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="{{image}}" alt="{{description}}" class="meal_results_img">
      <p>Main Protein: {{main_protein}}</p>
      <p>Description: {{description}}</p>
      <p>Prep Time: {{prep_time}}</p>
      <p>Cook Time: {{cook_time}}</p>
      <p>Servings: {{servings}}</p>
    </div>
  </a>
</section>