<section class="card">
  <a href="/meal_results/{{id}}">
    <header>{{name}}</header>

    <div class="card-body">
      <img src="{{image}}" alt="{{description}}">
      <p>Main Protein: {{mainProtein}}</p>
      <p>Description: {{description}}</p>
      <p>Prep Time: {{prepTime}}</p>
      <p>Cook Time: {{cookTime}}</p>
      <p>Servings: {{servings}}</p>
    </div>
  </a>
</section>