{{!-- This is the Recipe Result container which will display the chosen recipe to the user --}}
<div class='recipe-result-container'>
    <p>{{recipe.name}}</p>
    <img src="{{recipe.image}}" alt="{{recipe.description}}" class="meal_results_img">
    <p>Prep Time: {{recipe.prep_time}}</p>
    <p>Cook Time: {{recipe.cook_time}}</p>
    <p>Total Time: {{recipe.total_time}}</p>
    <p>Ingredients: {{recipe.ingredients}}</p>
    <p>Instructions: {{recipe.instructions}}</p>
</div>