{{!-- This is the Recipe Result container which will display the chosen recipe to the user --}}
<div class='recipe-result-container'>
    <p>{{recipe.name}}</p>
    <p>Prep Time: {{recipe.prepTime}}</p>
    <p>Cook Time: {{recipe.cookTime}}</p>
    <p>Total Time: {{recipe.prepTime + recipe.cookTime}}</p>
    <p>Ingredients: {{recipe.ingredients}}</p>
    <p>Instructions: {{recipe.instructions}}</p>
</div>